<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Conference{% endblock %}</title>
    {% block stylesheets %}
        <style>
            a.f{
                color: white;
                margin-right: 2em;
                font-size: medium;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path("index") }}">CONFERENCE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" style="">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
                <!-- <form class="form-inline my-2 my-lg-0">
                     <input class="form-control mr-sm-2" type="text" placeholder="Search">
                     <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                 </form> -->
            </div>
            <a class="f" href="{{ path("logout_app") }}">Logout</a><br>
            <a class="f" href="{{ path("create") }}">New Conference</a>
        </nav>
    {% endblock %}
</head>
<div class="container">
    <div style="text-align:center; margin-top:1.25rem;">
        <h1>Welcome to Admin</h1>
        <br>
        <h2>list conferences</h2>
    </div>
</div>
<div class="container-fluid">
    <div class="container-fluid">
        {% for conference in conferences%}
        <div class="row">
            <div class="col-sm-6 details" align="left">
                <label>Subject:</label><p>{{ conference.title }}</p>
                <label>Details:</label><p>{{ conference.content }}</p>
                <label>Due date</label><p>{{ conference.date ? conference.date|date('Y-m-d H:i:s') : ''}}</p>
            </div>
            <div class="col-sm-6 bg-warning">
                <div class="but">
                    <button><a href="{{ path('update_conference',{'id' : conference.id}) }}">Edit</a></button><br>
                    <button><a href="{{ path('delete_conference',{'id' : conference.id}) }}">Delete</a></button>
                </div>
            </div>
        </div>
            <hr>
        {% endfor %}
    </div>
    <div class="row justify-content-md-center">
        <ul class="pagination">
            {% for i in 1..6 %}
                <li class="page-item active">
                    <a class="page-link" href="{{ path('index', {page: i}) }}">{{ i }}</a>
                </li>&nbsp;
            {% endfor %}
        </ul>
    </div>
</div>
</html>