<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Conference{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
        <script src="{{ asset('js/scripts.js') }}"></script>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path("index") }}">CONFERENCE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Conference</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Top Confereces</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('users') }}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('about') }}">About</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" id="search">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" id="search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <a class="f" href="{{ path("logout_app") }}">Logout</a><br>
            <a class="f" href="{{ path("create") }}">New Conference</a>
        </nav>
    {% endblock %}
</head>
<div>
    <div align="center">
        <h2>Published conferences</h2>
        <br>
    </div>
</div>
<div class="card_custom">
    {% for conference in conferences %}
        <div class="card mb-3">
            <h3 class="card-header">Conference {{ conference.id }}</h3>
            <div class="card-body">
                <h3 class="card-title">{{ conference.title }}</h3>
                <h6 class="card-subtitle text-muted">Authored by:</h6>
            </div>
            <img style="height: 200px; width: 100%; display: block;"
                 src="{{ asset('images/bug.png') }}" alt="Card image">
            <div class="card-body">
                <p class="card-text">{{ conference.content }}</p>
            </div>
            <div class="card-body">
                <a href="{{ path('update_conference',{'id' : conference.id}) }}" class="card-link">Edit</a>
                <a href="#" class="card-link">Delete</a>
            </div>
            <div class="card-footer text-muted">
                Published on :{{ conference.creationDate ? conference.creationDate|date('Y-m-d H:i:s') : '' }} </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span></h4>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <hr>
    {% endfor %}

    <div class="row justify-content-md-center">
        <ul class="pagination">
            {% for i in 1..6 %}
                <li class="page-item active">
                    <a class="page-link" href="{{ path('index', {page: i}) }}">{{ i }}</a>
                </li>&nbsp;
            {% endfor %}
        </ul>
    </div>
</div>
</html>