<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Conference{% endblock %}</title>
    {% block stylesheets %}
        <style>
            a.f{
                color: white;
                margin-right: 2em;
                font-size: medium;
            }
            div.inner-wrap{
                alignment: center;
                padding: 30px;
                background: #F8F8F8;
                border-radius: 6px;
                margin-bottom: 15px;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path("index") }}">CONFERENCE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" style="">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
            <a class="f" href="{{ path("logout_app") }}">Logout</a><br>
        </nav>
    {% endblock %}
</head>
<body>
<h1 align="center">
    Add New Conference
</h1>
<hr>
    <div align="center" class="inner-wrap">
        {{ form_start(newCoForm) }}<br>
        {{ form_row(newCoForm.title) }}<br>
        {{ form_row(newCoForm.content) }}<br>
        {{ form_row(newCoForm.date) }}<br>
        {{ form_end(newCoForm) }}
    </div>
</body>
</html>