<head>
    <meta charset="UTF-8">
    <title>{% block title %}Conference{% endblock %}</title>
    {% block stylesheets %}
        <style>
            a.f {
                color: white;
                margin-right: 2em;
                font-size: medium;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path("index") }}">CONFERENCE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('about') }}">About</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" id="search">
                     <input class="form-control mr-sm-2" type="text" placeholder="Search">
                     <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                 </form>
            </div>
            {% if isUser == true %}
                <a class="f" href="{{ path("logout_app") }}">Logout</a><br>
                <a class="f" href="{{ path("profile") }}">Profile</a>
            {% else %}
                <a class="f" href="{{ path("signup_app") }}">SignUp</a><br>
                <a class="f" href="{{ path("app_login") }}">SignIn</a>
            {% endif %}
        </nav>
    {% endblock %}
</head>
{% block body %}
    <div style="text-align:center; margin-top:1.25rem;">
        <hr>
        <br>
        <h2>List of conferences</h2>
    </div>
    <hr>
    <div class="container-fluid">
        <table class="table">
            <thead>
            <tr class="table-primary">
                <th>Title</th>
                <th>Published on</th>
                <th>Expected Date</th>
                <th>Place</th>
                <th>Details</th>

            </tr>
            </thead>
            <tbody>
            {% for conference in conferences %}
                <tr>
                    <td>{{ conference.title }}</td>
                    <td>{{ conference.creationDate ? conference.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ conference.date ? conference.date|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ conference.place }}</td>
                    <td><a href="{{ path('conference',{'id':conference.id}) }}">details</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No conferences</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <div class="row justify-content-md-center">
            <ul class="pagination">
                {% for i in 1..6 %}
                    <li class="page-item active">
                        <a class="page-link" href="{{ path('index', {page: i}) }}">{{ i }}</a>
                    </li>&nbsp;
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}