<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Conference{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
        <script src="{{ asset('js/scripts.js') }}"></script>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path("index") }}">CONFERENCE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Conference</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Top Confereces</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('users') }}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('about') }}">About</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" id="search">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" id="search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <a class="f" href="{{ path("logout_app") }}">Logout</a><br>
            <a class="f" href="{{ path("create") }}">New Conference</a>
        </nav>
    {% endblock %}
</head>
    <div>
        <div style="text-align:center; margin-top:1.25rem;">
            <h1>Conference Users</h1>
            <hr>
        </div>
    </div>
    <div class="container-fluid">
        <table class="table">
            <thead>
            <tr class="table-primary">
                <th scope="row">name</th>
                <th scope="row">mail</th>
                <th scope="row">Détails</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.mail }}</td>
                    <td><a href="{{ path("user",{id:user.id}) }}">manage user</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No articles</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <div class="row justify-content-md-center">
            <ul class="pagination">
                {% for i in 1..6 %}
                    <li class="page-item active">
                        <a class="page-link" href="{{ path('index', {page: i}) }}">{{ i }}</a>
                    </li>&nbsp;
                {% endfor %}
            </ul>
        </div>
    </div>
</html>