{% extends 'base.html.twig' %}

{% block title %}Conference{% endblock %}

{% block body %}

    <div class="container">
        <div style="text-align:center; margin-top:1.25rem;">
            <h1>Conference Users</h1>
            <hr>
        </div>
    </div>
    <div class="container-fluid">
        <table class="table">
            <thead>
            <tr class="table-primary">
                <th scope="row">name</th>
                <th scope="row">mail</th>
                <th scope="row">Détails</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.mail }}</td>
                    <td><a href="{{ path("user",{id:user.id}) }}">manage user</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No articles</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <div class="row justify-content-md-center">
            <ul class="pagination">
                {% for i in 1..6 %}
                    <li class="page-item active">
                        <a class="page-link" href="{{ path('index', {page: i}) }}">{{ i }}</a>
                    </li>&nbsp;
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}